# Gradle
.gradle/
build/
.kotlin/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
*.iml
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# KSP / generated
**/generated/

# IDE
.idea/
*.hprof
